h1 {
    color: red;
    font-family: 'Felipa', cursive;
}
.parrafo {
    /* background-color: #e0e0eb; */
    font-size: 20px;
    margin: 100px;
    border-style: solid;
    background-image: url(../imagenes/sheep-1822137_640.jpg);
    background-attachment: scroll;
}

#Primer-parrafo {
    text-decoration: underline;
    border-color: brown;

img {
    width: 50%;
    height: 120px;
}

table {
    border-style: solid;
    border-color: red;
    border-width: 3px;
}

tr {
    border-style: solid;
    border-color: blue;
    border-width: 2px;
}

td {
    border-style: solid;
    border-color: pink;
    border-width: 5px;
}

#hola {
    background-color: cadetblue;
    border-spacing: 100px;
}


