h1 {
    color: red;
    font-family: 'Felipa', cursive;
}
.parrafo {
    /* background-color: #e0e0eb; */
    font-size: 20px;
    margin: 100px;
    border-style: solid;
    background-image: url(../imagenes/sheep-1822137_640.jpg);
}

#Primer-parrafo {
    text-decoration: underline;
    border-color: brown;
    border-width: 50px;
}
